{% extends 'base/baseListasDatos.html' %}
{% load static %}
{% block thead %}
    <tr>
        <th scope="col">LINE</th>
        <th scope="col">CODIGO</th>
        <th scope="col">DESCRIPCION</th>
        <th scope="col">VER</th>
        {% if user.g_Activos %}
            <th scope="col">MODIFICAR</th>
        {% endif %}        
    </tr>
{% endblock %}
{% block tbody %}
    {% for activo in object_list %}
        <tr>
            <td>
                <a href='{% url "activos:lista_lineactivo" activo.codigo %}' type="button"
                   class="btn btn-primary btn-xs">
                   <i class="bi bi-eye"></i>
                </a>
            </td>
            <td> {{ activo.codigo }} </td>
            <td> {{ activo.descActivo }}</td>
            <td>
                <a href="{% url 'activos:ver_activo' activo.codigo %}" type="button"
                   class="btn btn-primary btn-xs">
                   <i class="bi bi-eye"></i>
                </a>
            </td>
            {% if user.g_Activos %}
            <td>
                <a href="{% url 'activos:gestionar_activo' activo.codigo %} " type="button"
                   class="btn btn-primary btn-xs">
                   <i class="bi bi-brush-fill"></i>
                </a>
            </td>
        {% endif %}  
        </tr>
    {% endfor %}
{% endblock %}