{% extends 'base/baseListasDatos 2Columnas.html' %}
{% block thead1 %}
    <tr>
        <th scope="col">FECHA DEL REGISTRO</th>
        <th scope="col">MODIFICADOR</th>
        <th scope="col">ESTADO ACTIVO</th>
        <th scope="col">ESTADO DESIGNACION</th>
        <th scope="col">MANTENIMIENTO</th>      
        <th scope="col">OBSERVACION</th>      
    </tr>
{% endblock %}
{% block tbody1 %}
    {% for activo in line_actvo %}
        <tr>
            <td> {{ activo.fecha_registro }} </td>
            <td> {{ activo.creador }}</td>
            <td> {{ activo.estadoActivo }}</td>
            <td> {% if activo.estadoDesignacion %}Designado{% else %}Sin Designar{% endif %}</td>
            <td> {% if activo.mantenimiento %}En Mantenimiento{% else %}-{% endif %}</td>
            <td> {{ activo.observacion }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block thead2 %}
    <tr>
        <th scope="col">FECHA DEL REGISTRO</th>
        <th scope="col">MODIFICADOR</th>
        <th scope="col">RESPONSABLE</th>
        <th scope="col">UBICACION PISO</th>
        <th scope="col">UBICACION OFICINA</th>      
        <th scope="col">ESTADO</th>      
        <th scope="col">OBSERVACION</th>      
    </tr>
{% endblock %}
{% block tbody2 %}
    {% for activo in activo_responsable_line %}
        <tr>
            <td> {{ activo.fecha_registro }} </td>
            <td> {{ activo.creador }}</td>
            <td> {{ activo.responsable }}</td>
            <td> {{ activo.piso_ubicacion }}</td>
            <td> {{ activo.oficina_ubicacion }}</td>
            <td> {{ activo.estado }}</td>
            <td> {{ activo.observacion }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block thead3 %}
    <tr>
        <th scope="col">ESTADO</th>
        <th scope="col">FECHA INICIO</th>
        <th scope="col">DESCRIPCION INICIO</th>
        <th scope="col">RESPONSABLE</th>
        <th scope="col">FECHA FIN</th>      
        <th scope="col">DESCRIPCION FIN</th>      
        <th scope="col">RESPONSABLE</th>      
    </tr>
{% endblock %}
{% block tbody3 %}
    {% for activo in mantenimiento %}
        <tr>
             {% if activo.estado %} <td class="table-success">ACTIVO{% else %}<td>FINALIZADO{% endif %}</td>
            <td class="table-info"> {{ activo.fechaInicio }}</td>
            <td class="table-info"> {{ activo.descripcionInicio|linebreaks }}</td>
            <td class="table-info"> {{ activo.asignadorInicio }}</td>
            <td> {% if  activo.fechaFin %}{{ activo.fechaFin }}{% else %} - {% endif %} </td>
            <td> {% if  activo.descripcionFin %}{{ activo.descripcionFin }}{% else %} - {% endif %} </td>
            <td> {% if  activo.asignadorFin %}{{ activo.asignadorFin }}{% else %} - {% endif %} </td>
        </tr>
    {% endfor %}
{% endblock %}