{% extends 'base/baseListasDatos.html' %}
{% load static %}
{% block thead %}
    <tr>
        <th scope="col">FECHA DE REGISTRO</th>
        <th scope="col">RESPONSABLE DEL REGISTRO</th>
        <th scope="col">OBSERVACION</th>
    </tr>

{% endblock %}
{% block tbody %}
    {% for object in object_list %}
        <tr>
            <td> {{ object.fechaRegistro }} </td>
            <td> {{ object.encargado }}</td>
            <td> {{ object.observacion }}</td>
        </tr>
    {% endfor %}
{% endblock %}