{% extends 'base/baseListasyRegistroModal.html' %}
{% load static %}
{% block thead %}
    <tr>
        <th scope="col">CODIGO</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">ENCARGADO</th>
        <th scope="col">FECHA DE INICIO</th>
        <th scope="col">FECHA DE FINALIZACION</th>
        <th scope="col">VER/EDITAR</th>
        <th scope="col">REVISIONES</th>
    </tr>

{% endblock %}
{% block tbody %}
    {% for revision in object_list %}
        <tr>
            <td> {{ revision.slug }}</td>
            <td> {{ revision.nombre }} </td>
            <td> {{ revision.encargado.persona.nombrecompleto }}</td>
            <td> {{ revision.fechaHora_inicio }}</td>
            <td> {{ revision.fechaHora_finalizacion }}</td>
            <td>
                <button 
                    class="btn btn-primary btn-editar" 
                    data-url="{% url 'revision:ajax_a_Revision' revision.slug %}">
                    Editar
                </button>
            </td>
            <td>
                <a href="" type="button"
                   class="btn btn-primary btn-xs">
                   <i class="fas fa-edit"></i> 
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}