{% load static %}

{% block contenido %}
  <div class="container-fluid mt-4">
    <!-- 1. Título y línea -->
    <div class="row mb-2">
      <div class="col">
        <h2 class="text-success fw-bold">Lista de Activos Fijos Designados</h2>
        <hr>
      </div>
    </div>

        <!-- 2. Tabla -->
        <div class="table-responsive">
          <table
            id="myTable"
            class="table table-bordered text-center align-middle mb-0 table-striped-custom"
          >
            <thead class="bg-white">
              <tr>
                <th>CODIGO</th>
                <th>NOMBRE</th>
                <th>ENCARGADO</th>
                <th>FECHA REGISTRO</th>
                <th>ESTADO</th>
                <th>VER</th>  
                </tr>
            </thead>
            <tbody>
              {% for rev in object_list %}
                <tr>
                  <td>{{ rev.activo.codigo }}</td>
                  <td>{{ rev.activo.descActivo }}</td>
                  <td>{{ rev.responsable.persona.nombrecompleto}}</td>
                  <td>{{ rev.ultima_fecha_registro }}</td>
                  <td>{{ rev.estado }}</td>
                  <td><a href="{% url 'activos:ver_activo' rev.slug %}" class="btn btn-info">Ver</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>

  <style>
    .table-striped-custom tbody tr:nth-of-type(odd) {
        background-color: rgba(19, 158, 89, 0.671);
    }
    .table-striped-custom tbody tr:nth-of-type(even) {
        background-color: #fff;
    }
  </style>

{% endblock %}