{% load static %}

{% block contenido %}
  <div class="container-fluid mt-4">
    <!-- 1. Título y línea -->
    <div class="row mb-2">
      <div class="col">
        <h2 class="text-success fw-bold">Lista de Activos Fijos Designados</h2>
        <hr>
      </div>
    </div>

        <!-- 2. Tabla -->
        <div class="table-responsive">
          <table
            id="myTable"
            class="table table-bordered text-center align-middle mb-0"
          >
            <thead class="bg-white">
              <tr>
                <th>CODIGO</th>
                <th>MOTIVO</th>
                <th>NOMBRE</th>
                <th>ENCARGADO</th>
                <th>FECHA REGISTRO</th>
                <th>ESTADO</th>
                <th>VER/EDITAR</th>
              </tr>
            </thead>
            <tbody>
              {% for rev in object_list %}
                <tr>
                  <td>{{ rev.slug }}</td>
                  <td>{{ rev.motivo }}</td>
                  <td>{{ rev.nombre }}</td>
                  <td>{{ rev.encargado }}</td>
                  <td>{{ rev.fecha_registro }}</td>
                  <td>{{ rev.estado }}</td>
                  <td>
                    <a href="{% url 'revision:editar' rev.id %}" class="btn btn-sm btn-outline-primary">
                      Ver/Editar
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script>
$(function(){
  $('#myTable').DataTable({
    language:{
      lengthMenu: "Mostrar _MENU_ registros",
      search: "Buscar:",
      paginate:{
        previous: "«",
        next: "»"
      },
      info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
      zeroRecords: "No se encontraron registros"
    },
  });
});
</script>
{% endblock %}