{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}
    {% if user.is_authenticated %}
    <div class="card row mb-5">
        <div class="card-header bg-success text-white">
            <h5 class="card-title mb-0">
                <i class="fas fa-layer-group me-2"></i>
                ESTADO DEL ACTIVO: {% if activo.estadoDesignacion %} DESIGNADO{% else %} SIN DESIGNAR{% endif %}
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">
                        <i class="fas fa-layer-group me-2"></i>
                        DATOS DEL ACTIVO
                    </h5>
                </div>
                <div class="card-body row">
                    <div class="row">
                        <div class="col">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label fw-bold">Código del Activo</label>
                                    <div class="form-control">{{ activo.codigo }}</div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fw-bold">Estado del Activo</label>
                                    <div class="form-control">{{ activo.estadoActivo }}</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label fw-bold">Grupo Contable</label>
                                    <div class="form-control">{{ activo.grupoContable.nombre }}</div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fw-bold">Auxiliar</label>
                                    <div class="form-control">{{ activo.auxiliar.nombre }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row mb-3">
                                    <label class="form-label fw-bold">Descripcion del Activo</label>
                                    <div class="form-control">{{ activo.descActivo|linebreaks }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carga de Auxiliares Contables -->
        <div class="col-md-5 mb-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h5 class="card-title mb-0">
                        <i class="fa-solid fa-wrench"></i>
                        DATOS MANTENIMIENTO
                    </h5>
                </div>
                <div class="card-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckCheckedDisabled" 
                        {% if activo.mantenimiento %}checked{% else %} {% endif %} disabled>
                        <label class="form-check-label" for="switchCheckCheckedDisabled">{% if activo.mantenimiento %}EN MANTENIMIENTO{% else %}NO SE ENCUENTRA EN MANTENIMIENTO{% endif %}</label>
                    </div>
                    {% if mantenimientos %}
                        <div class="row mb-3">
                                <label class="form-label fw-bold">Fecha Inicio</label>
                                <span>{{ mantenimientos.fechaInicio }}</span>
                        </div>                        
                        <div class="row mb-3">
                                <label class="form-label fw-bold">Personal a cargo</label>
                                <div class="form-control">{{ mantenimientos.asignadorInicio }}</div>
                        </div>
                        <div class="row mb-3">
                                <label class="form-label fw-bold">Razon del Mantenimiento</label>
                                <div class="border border-2">{{ mantenimientos.descripcionInicio | linebreaks }}</div>
                        </div>
                    {% else %}
                    SIN DATOS
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">
                        <i class="fa-solid fa-user"></i><i class="fa-solid fa-location-dot"></i>
                        DATOS UBICACION Y ASIGNADO
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                            <div class="col">
                                <label class="form-label fw-bold">Ultimo Codigo de la Asignacion/Devolucion </label>
                                <div class="form-control">{% if responsable %}{{ responsable.asignacion }}{% else %}No existe registro{% endif %}</div>
                            </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-bold">Personal Asignado</label>
                            <div class="form-control">{% if responsable %}{{ responsable.responsable}}{% else %}No esta asignado{% endif %}</div>                           
                        </div>
                    </div>
                    <hr>
                    <div class="row"> <span class="fw-bold">UBICACION</span>
                    </div>
                    <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label fw-bold">PISO</label>
                                <div class="form-control">{% if responsable %}{{ responsable.piso_ubicacion}}{% else %}En Almacenes{% endif %}</div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bold">OFICINA</label>
                                <div class="form-control">{% if responsable %}{{ responsable.oficina_ubicacion}}{% else %}En Almacenes{% endif %}</div> 
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    Usted no esta autenticado
    {% endif %}
{% endblock  %}