{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}
{% if user.is_authenticated %}
  
<form method="POST" action="{{ form_action_url }}">
  {% csrf_token %}
  <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h5 class="card-title mb-0">
                <div class="row align-items-center">
                  <div class="col-auto"><i class="fa-solid fa-pen-to-square"></i></div>
                  <div class="col">{{ subtitulo_1 }}</div>
                </div>
              </h5>
            </div>
            <div class="card-body">
              <div class="mb-3">
                {% block PARTE_1 %} 
                {% endblock%}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header bg-success text-white">
              <h5 class="card-title mb-0">
                <div class="row align-items-center">
                  <div class="col-auto"><i class="fa-solid fa-pen-to-square"></i></div>
                  <div class="col">{{ subtitulo_2 }}</div>
                </div>
              </h5>
            </div>
            <div class="card-body">
              <div class="mb-3">
                {% block PARTE_2 %}
                
                {% endblock%}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center py-2">
                <div class="col">
                    <button class="btn btn-success border-white fw-bold" type="submit">
                    <i class="fa-solid fa-floppy-disk"></i> {{accion}} </button>
                    <a class="btn btn-success border-white fw-bold" href="{{ accion2_url }}">
                    <i class="fa-solid fa-floppy-disk"></i> {{ accion2 }}</a>
                </div>
            </div>
</form>
    
{% else %}
{% endif %}
{% endblock  %}
