{% extends 'base/librerias.html' %}
{% load static %}
{% block cuerpo %}
<main> 
    <div class="container">
        <hr>
        <div class="d-flex flex-row-reverse pe-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-sm-right text-uppercase">
                    <li class="breadcrumb-item"><a href="{% url 'inicio:Index' %}">INICIO</a></li>
                    <li class="breadcrumb-item {% if activate %} active {% endif %}" {% if activate %} aria-current="page" {% else %} href="{{entity_url}}" {% endif %}>{{entity}}</li>
                    {% if entity2 %}
                        <li class="breadcrumb-item {% if activate2 %} active {% endif %}" {% if activate2 %} aria-current="page" {% else %} href="{{entity2_url}}" {% endif %}>{{entity2}}</li>
                    {% endif %}
                    {% if entity3 %}
                        <li class="breadcrumb-item {% if activate3%} active {% endif %}" {% if activate3 %} aria-current="page" {% else %} href="{{entity3_url}}" {% endif %}>{{entity3}}</li>
                    {% endif %}
                </ol>
            </nav>
        </div>
        <div class="container">
            {% block contenido %}
            
            {% endblock contenido %}
        </div>
    </div>
</main>    
{% endblock %}

{% block footer %}
    {% include 'include/footer/footer.html' %}
{% endblock %}