{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <!-- 1. Título y línea -->
     <br>
    <div class="row mb-2">
      <div class="col">
        <h2 class="text-white fw-bold">{{titulo}}</h2>
        <hr>
      </div>
    </div>
</div>
<div class="container-fluid py-4">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {% block alert %}
        {% endblock alert %}        
        <hr>
        <div class="row align-items-center">
            <div class="col-md-8 col-sm-12 align-self-center">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <br> {{subtitulo_1}} </br>   
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                                {% block formulario %}                    
                                {% endblock formulario %}
                        </div>
                    </div>
                </div>
            </div>
            {% if subtitulo_2 %}
                <div class="col-md-4 col-sm-12 align-self-center">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h5 class="card-title mb-0">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <br> {{subtitulo_2}} </br>   
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                {% block formulario2 %}

                                {% endblock formulario2 %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row text-center py-2">
                <div class="col">
                    <button class="btn btn-success border-white fw-bold" type="submit">
                    <i class="fa-solid fa-floppy-disk"></i> {{accion}} </button>
                </div>
                <div class="col">
                    <a class="btn btn-success border-white fw-bold" hr="">
                    <i class="fa-solid fa-floppy-disk"></i> CANCELAR</a>
                </div>
            </div>
    </form>
</div>
{% else %}
{% endif %}
{% endblock contenido %}